@import '../../App';/*import global CSS styles*/

.nav-container {
	background-color: $primary-light-blue-color;/*set the nav background color*/
	margin-bottom: 5vh;
}

/*Style the app logo*/
.logo {
	height: 5rem;
	width: 5rem;
	margin-top:1px;
	margin-bottom:1px;
	margin-left: 10vw;/*Add white-space to the left side of the logo*/
}

.nav-links-container-style {
	text-align: center;/*center the nav links when the navbar is collaspe*/
}

.nav-links-text-style {
	color:white !important;/*overide bootstrap nav link text color*/
}

.nav-links {
	margin-right: 3vw;/*add space to the right side of the navigational linkes*/
}