
.project-container {
    margin: 1vh;
    border: solid 1px lightgrey;
    padding-left:0px;
    padding-right: 0px;
}


.tech-image-style {
    flex: 1;
    padding: .5vw;//w
}

.project-display-tech {
    display:flex;
    justify-content: center;
    align-items: center;
}

.project-links-container {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.whitespace {
    margin-left: 1vw;
    margin-right: 1vw;
}

.image-white-space {
    margin-bottom: 1vh;
    height: 315px;
}

.project-text {
    text-align: center;
}

.video-style {
    width: 100%;
    height:42vh;
    vertical-align: middle;
}