
.project-container {
    padding-left:0px;
    padding-right: 0px;
    margin-bottom: 3vh;
}

.data-container {
    margin: 1vw;
    border: solid 1px lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.tech-image-style {
    flex: 1;
    padding: .5vw;
    text-align: center;
}

.project-display-tech {
    display:flex;
    justify-content: top;
    align-items: flex-start;
}

.project-links-container {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.whitespace {
    margin-left: 1vw;
    margin-right: 1vw;
}

.image-white-space {
    height: 315px;
}

.project-text {
    text-align: center;
}

.video-style {
    width: 100%;
    height:42vh;
    min-height: 315px;
    vertical-align: middle;
}

.smallerFont {
    font-size:.7rem;
}

.blueIcon{
    color: navy;
}

.greenIcon{
    color:green;
}

.redIcon {
    color:red;
}

.orangeIcon {
    color:orange;
}

.purpleIcon {
    color:purple;
}

.materialize-text-style {
    display: flex;
    justify-content: center;
    align-content: center;
}

.align-text {
    text-align: center;
}