
.project-container {
    margin: 1vh;
    border: solid 1px grey;
}


.tech-image-style {
    flex: 1;
    padding:.5vw;
}

.project-display-tech {
    display:flex;
    justify-content: center;
    align-items: center;
}

.project-links-container {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}