@import '../../App';/*import global CSS styles*/

.project-selection-section {
    display:flex;
    justify-content: space-around;
    align-items:stretch;
    margin-top:1vh;
    margin-bottom: 1vh;
}


.project-section-summary {
    margin-bottom:2vh;
}

.center-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}

.space-Between-Radio-Buttons {
    margin-right: 2vw;
    margin-left: 2vw;
    color:$primary-light-blue-color;
    border:none;
    border-radius: 10px !important;
    max-height: 36px;
}

  /* media queries */
  @media (max-width: 576px) {
    .project-section-summary {
        margin-top:2vh;
    }

    .center-buttons {
        margin-bottom: 8vh;
    }

    .space-Between-Radio-Buttons1 {
        margin-right: 0vw;
        margin-left: 0vw;        
    }

    .btn-group {
        display: block;
    }
  }

  @media (max-width: 989px) {
    .btn {
        font-size: .8rem;
    }

    .center-buttons {
        margin-bottom: 3vh;
    }    
  }

    /* media queries */
    @media (max-width: 540px) {
        .btn-group {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
      }
