

.project-selection-section {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:1vh;
    margin-bottom: 1vh;
}


.project-section-summary {
    margin-bottom:2vh;
}
